.component{
border: orange 1px solid;
margin-top: 2em;
}

.personalizedResult{
text-align: center;
align-items: center;
}

.przycisk{
margin-top: 1em !important;
text-align: center !important;
align-items: center !important;
}